<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crawler</title>
    
	<link rel="stylesheet" type="text/css" href="./node_modules/sweetalert/dist/sweetalert.css">
	<script src="./node_modules/sweetalert/dist/sweetalert.min.js"></script>
	
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="dist/css/minify/main.css">
   
</head>
<body>
<div class="container">
		<h1>Backbone Miner!</h1>

		<table class="table">
			<thead>
				<tr>
				
					<th>Format</th>
					<th>Font</th>
					<th>Action</th>
				</tr>
				<tr>
					<td><input type="text" id="formato" class="form-control formato-input"></td>
					<td><input type="text" id="fonte" class="form-control fonte-input"></td>
					<td><button class="button button-load add-post" onclick="crawlerThisWebSite()">Load</button></td>
				</tr>
				<tr>
				
					<th>Posts</th>
					<th>Font</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="posts-list"></tbody>
		</table>
	</div>
	
	
	<script type="text/template" class="posts-list-template">
	<td><span class="titulo"><%= titulo %></span></td>
	<td><a href="<%= fonte %>"><span class="fonte"><%= fonte %></a></span></td>
	<td><button class="button button-delete delete-post">Delete</button></td>

	</script>

	<script src="./dist/js/validation-crawler.js"></script>

	<script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules//backbone/backbone.js"></script>

    
   
    <script src="./dist/js/main.js"></script>
</body>
</html>