<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
   
</head>
<body>
    <body>
	<div class="container">
		<h1>Backbone Tutorial Blogroll App</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Author</th>
					<th>Title</th>
					<th>URL</th>
					<th>Action</th>
				</tr>
				<tr>
					<td><input class="form-control author-input"></td>
					<td><input class="form-control title-input"></td>
					<td><input class="form-control url-input"></td>
					<td><button class="btn btn-primary add-blog">Add</button></td>
				</tr>
			</thead>
			<tbody class="blogs-list"></tbody>
		</table>
	</div>

	<script type="text/template" class="blogs-list-template">
	<td><span class="author"><%= author %></span></td>
	<td><span class="title"><%= title %></span></td>
	<td><span class="url"><%= url %></span></td>
	<td><button class="btn btn-warning edit-blog">Edit</button> <button class="btn btn-danger delete-blog">Delete</button><button class="btn btn-success update-blog" style="display:none">Update</button> <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>

	</script>
     <script src="./vendor/jquery/dist/jquery.js"></script>
     <script src="./vendor/underscore/underscore.js"></script>
    <script src="./vendor/backbone/backbone.js"></script>
    
   
    <script src="./assets/js/main.js"></script>
</body>
</html>