@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
 font-family: 'Roboto Condensed', sans-serif;
 background-color: $bodycolor;
}


.button {
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  color: white;
 
  border-radius: 4px ;
  width: 120px;
  height: 40px;
 
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;

  &.button-load{
    background-color: $load_button;
    border: 1.5px  $load_button;
    text-shadow: 0 -1px -1px $shadow_load_button;
    -moz-box-shadow: 0 4px 0 $shadow_load_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 $shadow_load_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 $shadow_load_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    &:hover {

        text-shadow: 0 -1px -1px $load_button;
        -moz-box-shadow: 0 4px 0 $load_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 4px 0 $load_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 0 $load_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    }
    &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
  }


  &.button-delete{
    background-color: $delete_button;
    border: 1.5px  $delete_button;
    text-shadow: 0 -1px -1px $shadow_delete_button;
    -moz-box-shadow: 0 4px 0 $shadow_delete_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 $shadow_delete_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 $shadow_delete_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    &:hover {

        text-shadow: 0 -1px -1px $delete_button;
        -moz-box-shadow: 0 4px 0 $delete_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 4px 0 $delete_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 0 $delete_button, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    }
    &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
  }
  
}


input[type="text"]{
  width:100%;
  max-width:100%;
  padding: 6px 12px;
  border-radius: 0px;
  border: 2px solid $darkcolor;
  margin: .5em 0 0.8em 0;
}